{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "importOrder": [
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^[./]",
    "^src/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
